* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;;
}

body {
	text-align: center;
	background-color: hsl(212, 45%, 89%);
}

.card-container {
	width: 375px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 1em;
	border-radius: 5%;
}


.text-container h3 {
	font-size: 1.5rem; /* 20px / 16px = 1.25rem */
	/* font-weight: 700; */
	line-height: 1.7rem;
	text-align: center;
	color: hsl(218, 44%, 22%);
	margin: 1em 1em; 
	/* 10px / 20px = 0.5em */
	/* margin is divided by the nearest font-size this case 20px */

}

.text-container p {
	font-size: 1.1rem;
	text-align: center;
	margin: 0 1em 2em 1em ; 
	color: hsl(220, 15%, 55%);

}

.qr-image {
	border-radius: 0.75rem;
	width: 340px;
}
